/*---------------------------------------------------------------------------*\
                                  ELEMENTS
/*---------------------------------------------------------------------------*\

/**
  * CONTENTS
  
  * 
  
*/

body {
  background-color: var(--color-10);
}

header {
  background-color: var(--color-14);
  height: 4rem;
}